name: "Don't merge this CI, it's only just for the sake of demonstation"
on:
  pull_request:

jobs:
  system_tests_localexecutor:
    name: Airflow system tests on LocalExecutor
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          prune-cache: false
          cache-dependency-glob: "pyproject.toml"

      # Target repo is to be checked out first (order matters!)
      - name: Cloning target repository
        uses: actions/checkout@v4

      - name: System tests on LocalExecutor
        run: |
          set -x
          sudo apt-get install -y python3-dev libkrb5-dev build-essential
          sudo apt-get install libsasl2-dev python-dev-is-python3 libldap2-dev libssl-dev

          export AIRFLOW_SOURCES=$PWD
          export _AIRFLOW__SYSTEM_TEST_USE_EXECUTOR=1

          mkdir airflow_home
          uv venv
          export AIRFLOW_HOME=$PWD/airflow_home

          uv pip install apache-airflow-core==3.1.3
          uv pip install apache-airflow-devel-common
          uv pip freeze

          uv run airflow db reset -y
          uv run airflow api-server -D -l $AIRFLOW_HOME

          # sed -i "s/airflow.providers.nomad.executors.nomad_executor.NomadExecutor/LocalExecutor/" tests/system/nomad/config/unit_tests.cfg.template

          export PYTHONPATH=devel-common/src/tests_common
          uv run pytest -p pytest_plugin -s -v --without-db-init --system --load-config=$PWD/airflow_home/airflow.cfg dags
      - name: Print API logs
        if: always()
        run: |
          cat airflow_home/airflow-api_server.*
